.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-image: url("Assets/bg1-generals.jpg");
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(10, 10, 10);
  
}

.Search{
  margin-top: 2em;
}

.Card {
  margin-top: 2em;
  margin-bottom: 2em;
}

.App-link {
  color: #fa0808;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


